@import "../../styles/global.scss";

.illust_tab_bar {
  height: 40px;
  width: 100%;
  background-color: white;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px $padding-horizontal 0 $padding-horizontal;
}

.tab_item {
  @extend %flex-center;
  height: 30px;
}

.tab_item_text {
  @include font(18px);
}

.tab_item_underline {
  position: absolute;
  height: 1px;
  background-color: black;
  bottom: 0;
  left: $padding-horizontal;
}

.tab_item_background {
  position: absolute;
  height: 30px;
  background-color: transparent;
  border: black 1px solid;
  border-radius: 5px;
  left: $padding-horizontal;
  top: 5px;
}

.illust_item {
  height: 140px;
  overflow: hidden;
  border-radius: 10px;
}

.illust_image {
  width: 100%;
  height: 100%;
  resize-mode: cover;
}

.illust_image_container {
  width: 100%;
  background-color: white;
  flex-direction: row;
  justify-content: space-between;
}
