@import "../../styles/global.scss";


.follows_screen {
  @include screen;
}

.explore_card {
  margin-top: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  padding-left: $padding-horizontal;
  height: 30px;
  justify-content: center;
  background-color: white;
}

.cpm_explore_card {
  height: 80px;
  border-radius: 12px;
  background-color: #FAFAFA;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.explore_card_text {
  @include font(16, #c7c7c7);
}

.explore_avatar_group {
  width: 80px;
  height: 40px;
  position: relative;
}

.avatar1, .avatar2, .avatar3 {
  position: absolute;
  left: 0;
}

.avatar2 {
  left: 20px;
}
.avatar3 {
  left: 40px;
}



